.div{
    margin-top: auto;
    margin-top: 20px; 
    margin-left: auto; 
    margin-right: 10px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    padding-right: 10px;
       
 }
 .card {
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    transition: 0.3s;
    height: 500px;
    width: auto;
    /* padding-right: 10px; */
    margin-right: 15px;
    
 
}
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(33, 205, 244, 0.834);
    border-radius: 20px;
  }
  .container {
    padding: 2px 16px;
  }
.ivInferior{
    margin-top: "auto";
    
}
.titulo{
    text-align: center;
    color: black;
    font-size: 20px;
    text-decoration: underline;
}
